In [10]:
# pandas, pivoting, and Melting DataFrames
import pandas as pd 

dict={"keys":["k1","k2","k1","k2"],
        "names": ["john", "ben", "david", "peter"],
        "houses": ["red", "blue", "green", "red"]}

# creating dataframe
df= pd.DataFrame(dict)
print(df)
print (df.pivot("keys","names","houses"))

  keys  names houses
0   k1   john    red
1   k2    ben   blue
2   k1  david  green
3   k2  peter    red

TypeError: DataFrame.pivot() takes 1 positional argument but 4 were given