In [5]:
import pandas as pd
# Groupby 
data=pd.read_excel(file.xlsx)
# print(data.head(10))

# gp=data.groupby("Department").agg{("Gender":"count")} #classify gender on the basis of departments
# gp=data.groupby(["Department","Gender"]).agg{("EEID":"count")} #classify EEID on the basis of departments and male and female
# print(gp)

gp1=data.groupby("country").agg({"annual salary":"max"}) # annual average salary of each country
print(gp1)

NameError: name 'file' is not defined

In [68]:
# import pandas as pd
# merge , join and concatenate in pandas
data1 = {"emp id": ["E01", "E02", "E03", "E04", "E05", "E06"],
         "names": ["ram", "shyam", "rahul", "cishal", "ravi", "john"],
         "age": [34, 56, 23, 44, 32,59]}

data2 = {"emp id": ["E01", "E02", "E03", "E04", "E05", "E06"],
         "salary": [45000, 56000, 34000, 30000, 50000, 62000]}



df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

print(df1)
print()
print(df2)

  emp id   names  age
0    E01     ram   34
1    E02   shyam   56
2    E03   rahul   23
3    E04  cishal   44
4    E05    ravi   32
5    E06    john   59

  emp id  salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   62000

In [69]:
print(pd.merge(df1,df2,on="emp id")) #here emp id is common in both these df.

  emp id   names  age  salary
0    E01     ram   34   45000
1    E02   shyam   56   56000
2    E03   rahul   23   34000
3    E04  cishal   44   30000
4    E05    ravi   32   50000
5    E06    john   59   62000